 <h1>Zitate Ida</h1>

<!-- ZITATE EINFÜGEN in eine andere Componente verlegt!
<div class="container">
    <div class="input-group mb-3">
        <input type="text" class="form-control" id="zitat-text" placeholder="Zitat">
        <button class="btn btn-royalblue w-17" type="button" id="zitat-einfuegen">Zitat Einfuegen</button>
    </div>
 </div>
LISTENEINTRÄGE UNTER DER ZITATE HINZUFÜGEN CARD  -->

<!-- Liste der hinzugefügten Zitate 

<ul class="zitate-liste">
    @for (zitat of zitate; track zitat.id) {
        <li>
            {{ zitat.zitat }} <span style="color: #888; font-size: 0.9em;">({{ zitat.jahr }})</span>
        </li>
    }
</ul>
-->
<table class="table">

    <thead>
            <tr>
                <th scope="col" >Nr</th>
                <th scope="col" >Zitat</th>
                <th scope="col">Jahr</th>
            </tr>
        </thead>
        <tbody>
            @for (zitat of zitate; track $index; let i = $index) {
                <tr>
                    <td>{{ i+1 }} </td>
                    <td>{{ zitat.zitat }}</td>
                    <td>{{ zitat.jahr }}</td>
                </tr>
            }
        </tbody>
 </table>


 <!-- BUTTENGROUP MIT DEN NAMEN DARUNTER ANZEIGEN -->
        <div class="btn-namen text-left">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-royalblue" id="zitat-loeschen">Löschen</button>
                <button type="button" class="btn btn-royalblue" id="zitat-bearbeiten">Bearbeiten</button>
            </div>
        </div>

