ul.zitate-liste {
    list-style: none;
    padding: 5em;
    margin: 2ex 0;
}

ul.zitate-liste li {
    border-bottom: 1px solid rgb(65, 105, 225, 0.5);
    padding: 0.7ex 0;
}
.card {
    min-height: 8ex;
    margin-top: 2ex;
    margin-left: 2ex;
    margin-right: 2ex;
    border-color: rgb(65, 105, 225, 0.5);
}

table {
    width: 97%;
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

th, td, tr {
    color:  royalblue;
     word-break: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

caption{
    text-align: center;
    margin-top: 2ex;
    font-size: 1em; /* z.B. 16px, nach Wunsch anpassen */
}

.btn-group {
    margin-top: 1ex;
    margin-bottom: 1ex;
    display: flex;
    justify-content: center;
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

 
h1{
    text-align: center;
    margin-top: 1ex;
    margin-bottom: 1ex;
    color: royalblue;
}

.container{
    margin-top: 3ex;
    margin-bottom: 3ex;
}

input, select, textarea {
    border: 2px solid #ccc;
    transition: border-color 0.2s, box-shadow 0.3s;
}

input:hover, input:focus,
select:hover, select:focus,
textarea:hover, textarea:focus {
    border-color: rgb(65, 105, 225, 0.6);
    box-shadow: 0 0 4px rgb(65, 105, 225);
    outline: none;
}

input {
    border-color: rgb(65, 105, 225, 0.4);
    box-shadow: 0 0 4px rgb(65, 105, 225, 0.5);
    outline: none;
}


table {
    table-layout: fixed;
    width: 80%;
}

th, td {
    width: 25%;
}
td img {
    width: 20%;
}