h1{
    text-align: center;
    margin-top: 2ex;
    margin-bottom: 2ex;
    color: royalblue;
}



table {
    width: 97%;
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

th, td, tr {
    color:  royalblue;
     word-break: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

caption{
    text-align: center;
    margin-top: 2ex;
    font-size: 1em; /* z.B. 16px, nach Wunsch anpassen */
}




